body {
  background-color: #333;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em;
}

header ul li {
  font-size: .9em;
}

header {
  display: grid;
  grid-template-columns: 25% 5% 70%;
  margin: 0 0 2em 0;
  background-color: rgb(242, 240, 234);
}

header h3 {
  align-self: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3em;
  padding-left: 2em;
}

.card {
  background-color: rgb(242, 240, 234);
  margin: 1em;
}

a {
  text-decoration: none;
  color: lightcoral;
}

#headshot-main {
  width: 100%;
}

#maintop {
  display: grid;
  grid-template-columns: 30% 65%;
  padding: 1em;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#all-books {
  margin-bottom: 2em;
}

#book {
  width: 20%;
}

#contact {
  margin-left: 2em;
}

#contact-info {
  margin-top: 3em;
}

h2 {
  font-size: 2em;
  margin-bottom: 1em;
}

#name-email {
  font-size: 1.5em;
}

.inner-container {
  padding: 1em;
  display: grid;
  grid-template-columns: 40% 60%;
}

.inner-container img {
  width: 100%;
}

.book-summary {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.interviews {
  display: flex;
  justify-content: space-around;
}

.interviews img {
  max-width: 300px;
}

#radio h2 {
  text-align: center;
  padding-top: 1em;
}

.center {
  text-align: center;
}

button {
  padding: 1.5em 3em;
  background-color: olivedrab;
  border-radius: 16px;
}

button a {
  color: white;
}

.book img {
  box-shadow: 10px 10px 5px #ccc;
}

#about-container {
  padding: 1em;
}

.flex {
  display: flex;
}

#about-image {
  display: grid;
  grid-template-columns: 30% 70%;
}

#about-image img {
  width: 100%;
}

#about-img-info {
  margin-left: 2em;
  font-size: 2em;
}

#about-content {
  margin-top: 2em;
  font-size: 1.2em;
}

#about-content p {
  margin-top: 1em;
}

.card-container {
  padding: 1em;
}

.what-is-nvc p {
  margin-top: 1em;
}

.what-is-nvc h3 {
  font-weight: bold;
}

#resources p {
  margin-top: 1em;
}

#resources h3 {
  font-weight: bold;
}